<ion-header mode="md">
  <ion-toolbar>
    
     <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
     </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content mode="ios">

  <ion-card class="character-card">
    <ion-card-content class="glass-content ion-no-padding">
      <div class="ion-text-center ion-padding" *ngIf="character">
        
        <!-- Imagen del personaje -->
        <ion-avatar class="character-avatar">
          <img [src]="character.image" />
        </ion-avatar>
  
        <!-- Información del personaje -->
        <h1 class="character-name">{{ character.name }}</h1>
        <p class="character-status">Estatus: {{ character.description }}</p>
  
        <ion-item lines="none">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          <ion-label><strong>Género:</strong> {{ character.gender }}</ion-label>
        </ion-item>
  
        <ion-item lines="none">
          <ion-icon slot="start" name="flag-outline"></ion-icon>
          <ion-label><strong>Raza:</strong> {{ character.race }}</ion-label>
        </ion-item>
  
        <ion-item lines="none">
          <ion-icon slot="start" name="planet-outline"></ion-icon>
          <ion-label><strong>Planeta de origen:</strong> {{ character.originPlanet?.name || 'Desconocido' }}</ion-label>
        </ion-item>
  
        <ion-item lines="none">
          <ion-icon slot="start" name="flame-outline"></ion-icon>
          <ion-label><strong>Ki:</strong> {{ character.ki }}</ion-label>
        </ion-item>
  
        <ion-item lines="none">
          <ion-icon slot="start" name="flash-outline"></ion-icon>
          <ion-label><strong>Máx Ki:</strong> {{ character.maxKi }}</ion-label>
        </ion-item>
  
        <ion-item lines="none">
          <ion-icon slot="start" name="shield-outline"></ion-icon>
          <ion-label><strong>Afiliación:</strong> {{ character.affiliation }}</ion-label>
        </ion-item>
  
       
        <ion-list *ngIf="character.episodes && character.episodes?.length > 0">
          <ion-list-header>
            <ion-label>📺 Episodios en los que aparece:</ion-label>
          </ion-list-header>
          <ion-item *ngFor="let episode of character.episodes">
            <ion-icon slot="start" name="film-outline"></ion-icon>
            <ion-label>{{ episode }}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-card-content>
  </ion-card>
  
  
</ion-content>
