<ion-header>
  <ion-toolbar>

    
    <div class="logo-container">
      <img src="/assets/img/logo.png" class="logo" alt="Dragon Ball Logo">
    </div>

   
    <ion-buttons slot="end">
      <div class="icon-container" (click)="getFavorites()">
        <ion-icon name="heart-outline"></ion-icon>
        <span>Favoritos</span>
      </div>
      <div class="icon-container" (click)="getDocuments()">
        <ion-icon name="document-text-outline"></ion-icon>
        <span>Documentos</span>
      </div>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
