
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px; 
  background-color: #f4f4f4;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.version {
  font-size: 30px; 
  color: #333;
}

.name {
  font-size: 36px;
  font-weight: bold;
  color: #ae0808;
}

.title {
  font-size: 24px;
  font-weight: 600;
  color: #e74c3c;
  text-transform: uppercase;
}

ion-avatar img {
  --borde-radius: 20px;
  object-fit: contain; 
  width: 100%;
  height: auto;
}



.character-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.character-card {
  background-color: #c31111;
  color: white;
  text-align: center;
  border-radius: 10px;
  width: 150%;
  max-width: 400px;
  margin: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.character-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(255, 215, 0, 0.6);
}


.character-image {
  width: 100%; 
  height: auto;
  max-height: 250px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}



.info-container {
  padding: 20px;
  background-color: #d41e1e;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.name {
  font-size: 3em;
  font-weight: bold;
}

.race-gender {
  font-size: 1.4em;
  color: gold;
  margin-bottom: 10px;
}

.info-text {
  color: yellow;
  font-size: 1.8em;
  font-weight: bold;
}

p {
  margin: 10px 0;
  color: yellow;
  font-size: 1.2em;
}


.ion-searchbar {
  --background: rgba(7,7,7,0.2);
  max-width: 350px;
  color: white;
  display: flex;
  justify-content: center;
  padding: 10px;
}



